#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.detail_container {
  display: flex;
}

.detail_container_img {
  width: 40%;
}

.detail_img{
  width: 100%;
}

.description_container {
  width: 40%;
  padding-top: 10%;
}
